
   @mixin resize ($num) {
        width: calc(#{$num}*#{$button-size});
        height: calc(#{$num}*#{$button-size});
        &::after{
            width: calc(#{$num}*#{$button-white-size});
            height: calc(#{$num}*#{$button-white-size});
        }
    }
.countgrid{
    grid-template-columns: 50% 50% !important;
}
.game{
    display: grid;
    text-align: center;
    grid-template-columns: 35% 1fr 35%;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    height: 70%;
    align-content: center;
    
    .pick{    
        height: 100%;
        display: grid;
        align-content: space-evenly;
        text-align: center;
    }

    a{
    cursor:default;
    }

   .button{
    pointer-events:none;
    @include resize(1.5);
   } 


   h2{
       font-weight: 600;
        letter-spacing: 3px;
        padding-bottom: 2em;    
   }


   .result{
       h1{
        font-weight: 700;
        font-size: 2.5em;
        letter-spacing: 0.1em;
       }
       
        .again{
            width: 220px;
            height: 50px;
            background-color: white;
            border-radius: 7px; 
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;
            color: $dark-text;
            text-decoration: none;
            letter-spacing: 2px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            &:hover{
                color: hsl(349, 71%, 52%);
                transform: translateY(5px);
            }
        }
   }

   .house .button{
    animation-duration: 0.6s;
    animation-name: slidein;
   }

   .house_counter{
        width: 225px;
        height: 225px;
        display: grid;
        align-items: center;
        background: rgba(0,0,0,.2);
        border-radius: 50%;
        font-size: 3em;
        transform: translateY(30%);
    }
}

@keyframes slidein {
    from{
        transform: scale(0.1);
    }
    50%{
        transform: scale(1.3);
    }
    to{
        transform: scale(1);
    }
}


@mixin buttonShadowWin ($type) {
    box-shadow: 0px 8px darken($type,10%),
    0 0 0 40px rgba(255, 255, 255, 0.02),
    0 0 0 80px rgba(255, 255, 255, 0.01),
    0 0 0 120px rgba(255, 255, 255, 0.01);
}

.win{
    .rock{
        background: $rock-gradient;
        @include buttonShadowWin($rock);
    }
    
    .paper{
        background: $paper-gradient;
        @include buttonShadowWin($paper);
    }
    
    
    .scissors{
        background: $scissors-gradient;
        @include buttonShadowWin($scissors);
    }    
} 


@media(max-width: 869px){
    .game { 
        grid-template-columns: 1fr 1fr; 
        align-content: space-evenly; 
        .button {
            @include resize(1);
        }
    }
    .game div:nth-child(1) { order: 1; }
    .game div:nth-child(2) { 
        order: 3; 
        grid-column: 1 / 3; 
        margin-top: 50px;
        h1 {
            font-size: 3.5em;
        }
        .again {
            margin: 0 auto;
            width: auto;
        }
    }
    .game div:nth-child(3) { order: 2; }

    .rules-button {
        position: relative;
        top: 0;
        left: 0;
        max-width: 140px;
        text-align: center;
        margin: 0 auto;
    }
}

@media(max-width:500px){
    .game{
        h2 {
            font-size: 1em;
        }
        .button {
            @include resize(0.8);
            img{
                width: 50px;
            }
        }
    } 
}