header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 3px solid $header-outline;
    border-radius: 20px;
    padding: 16px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;

    .title{
        padding-left: 20px;
        font-weight: 700;
        font-size: calc(min(7vw,2.5em));
        line-height: 0.8em;
        display: grid;
        align-items: center;
        padding-right: 10px;
    }

    .score-container{    
        width: 155px;
        text-align: center;
        background: white;
        border-radius: 10px;
        height: 116px;
        display: grid;
        align-content: center;

        p{
            color:$score-text;
            font-size: 1.2em;
            letter-spacing: 0.1em;
            margin: 0;
        }
        .score{
            color:$dark-text;color: #3b4363;
            font-weight: 700;
            font-size: 4em;
        }
    }
}

@media(max-width:375px){
    header{
        .title {
            font-size: 2em;
        }
        .score-container{
                width: 110px;
                height: 90px;
                .score {
                    font-size: 3em;
                }
        } 
    } 
    
}