.play-container{
    background-image: url("../images/bg-triangle.svg");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 70%;
    position: relative;
    width: 600px;
    min-height: 457px;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 40px;

    .button{
        display: inline-flex;

        &.paper{
            transform: translateX(-30px);
        }
        &.scissors{
            transform: translateX(30px);
        }
        &.rock{
            transform: translateY(20px);
        }
    }

}

@media (max-width:620px){
    .play-container{
        transform: translateX(-50%) scale(0.6, 0.6);
        left: 50%;
    }
}
